<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include('layout'); -%>
    <div class="container">
      <h1>All Users</h1>
      <div class="userKey">
        <ul>
          <% userList.forEach(function(userData) { %>
            <li class="row"><%= userData.firstname + ' ' + userData.lastname + ' - ' + userData.email %></li>
          <% }); %>
        </ul>
      </div>
    </div>
  </body>
</html>
