<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="/public/images/tab-icon.png"/>
    <title>Results</title>
  </head>
  <body>
    <%- include('layout'); -%>
    <div class="container">
      <h1>Search Results</h1>
      <div class="container">
        <div>
          <div class="row user-box">
            <% searchResult.forEach(function(userData) { %>
              <div class="col-md-5 col-md-offset-2">
              <img src='/public/images/user.png'>
              <p><%= userData.firstname + ' ' + userData.lastname %></p>
              <p><%= userData.email %></p></div>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
