@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR|Oswald|Playfair+Display|Yesteryear');

body {
  background-color: #b8bad6;
  background-repeat: no-repeat;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-family: 'Yesteryear', cursive;
  color: #fff;
  font-size: 5rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

.user-box div {
  font-size: 1.4em;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 5%;
  text-align: center;
}

.user-box img {
  max-width: 50%;
}

.user-box div:hover {
  background-color: #bff0ef;
  box-shadow: 5px 5px 28px gray;
}

.search-form {
  margin: 0 auto;
  margin-top: 30%;
  width: 100%;
}

.btn-custom {
  margin-top: 5%;
  width: 20%;
  background-color: #bdfbfe;
  border-color: transparent;
}

.btn-custom:hover {
  background-color: #624f9c;
  color: #fff;
}
